header {
    display: flex;
    
    border-radius: 15px;
    box-shadow: 0 4px 5px gray;
    gap: 12px;
    align-content: flex-end;
    justify-items: center;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
   
}
#logo{ 
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
   font-size: 35px;
   align-items: left;
}
menu {
    font: 1em sans-serif;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    
}


a{
text-decoration: none;
color: black;
font-size: 25px;
gap: 10xp;
padding: 45px;
}
#btn{
background-color: blue;
border-color: white;
color: white;
box-shadow: 25px;
border-radius: 10px;
padding: 10px 15px;
}
